/* Steel Blue #3998B6
Indian Red #C46444
Gray #8E8A7A
Dark Slate Blue #2A4B76
Dark Khaki #BF9167 */

/* font-family: 'Cinzel', serif;
font-family: 'Raleway', sans-serif; */

.meimages {
  width: 100%;
  float: left;

}
/* .panel-title {
  text-align: center;
    background-color: #003366;
    padding: 10px;
    color: #CCCC99
}
.panel {
  border: 3px'
  border-color: #CCCC99;
} */
h1 {
  font-family: "Cinzel", serif;
  font-size:5vw;
}

h2 {
  font-family: "Cinzel", serif;
  color: ##2A4B76;
  font-size:3vw;
}
body {
  font-family: "Raleway", sans-serif
}
.icon {
  width: 20%
}
.quote {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  color: white;
  padding-top: 10px;
}
.skills {
  float:left;
  width: 50%;
  padding-right: 5px;
}
.jobtitle {
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
}
.row {
  margin-top: 20px;
}
.logo {
  width: 100%;
}
/* .jumbotron {
  background-image: url("../img/logo.jpg");
    margin-bottom: 0;`enter code here`
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    color: #FFFFFF */
}

.quotebar {
  background-image: url("../img/259.jpg");
      margin-bottom: 0;`enter code here`
      min-height: 50%;
      background-repeat: no-repeat;
      background-position: center;
      -webkit-background-size: cover;
      background-size: cover;

      padding-top: 10px;
      padding-bottom: 10px;
}

.quotetext {
  color: #FFFFFF;
}
.about-me {

}
