.meimages {
  width: 50%;
  float: left;

}

.panel-title {
  text-align: center;
}

.icon {
  width: 20%
}

.quote {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  background-color: darkgray;
  color: white;
  padding-top: 10px;

}

.skills {
  float:left;
  width: 50%
}
.jobtitle {
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
}
